.drag-and-drop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.drag-and-drop-container h2 {
  margin-top: 20px;
  margin-bottom: 50px;
}
.drag-and-drop-board {
    display: flex;   
    gap: 40px;
}

.todo-card{
    height: 50px;
    width: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: cadetblue;
    font-size: 12px;
    font-weight: bold;
}

.work-in-progress,.completed{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todo-list-wrapper{
    height: 380px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}