.nested-comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.nested-comments-container h2 {
  margin: 30px 0px 10px 0px;
}
.nested-comments-container .add-comment-btn {
  padding: 8px;
  background-color: rgb(9, 110, 210);
  outline: none;
  border: none;
  font-size: 16px;
  color: antiquewhite;
  font-weight: bold;
  margin: 10px 0;
  border-radius: 6px;
  cursor: pointer;
}
.nested-comments-container ul {
  margin-left: 20px;
  list-style: none;
}
.nested-comments-container ul li {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.nested-comments-container ul li span {
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
}
.nested-comments-container ul li button {
  padding: 3px 8px;
  background-color: rgb(9, 110, 210);
  outline: none;
  border: none;
  font-size: 12px;
  color: antiquewhite;
  font-weight: bold;
  margin: 10px 0;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 2px;
}
