.movie-app{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.movie-app h2{
    margin-top: 30px;
    margin-bottom: 20px;
}
.movie-app .movie-search-results-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.movie-app .movie-search-results-container .movie-card .fill-img{
  width: 200px;
  height: 300px;
  background-color: cadetblue;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
}
.movie-app .watch-list-details-container{
display: flex;
justify-content: space-around;
}