.movie-app {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.movie-app h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}
.movie-app .movie-search-results-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.movie-app .movie-search-results-container .movie-card .fill-img,
.watch-list-wrapper .fill-img,
.watched-wrapper .fill-img {
  width: 200px;
  height: 300px;
  background-color: cadetblue;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
}
.movie-app .watch-list-details-container {
  display: flex;
  justify-content: space-around;
}
.movie-app .watch-list-wrapper,
.movie-app .watched-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.movie-app input {
  padding: 10px 20px;
  outline: none;
  font-size: 20px;
  border-radius: 8px;
  border: 2px solid cadetblue;
  margin-bottom: 20px;
}
